* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #262626;
  -webkit-font-smoothing: antialiased;
}

header,
main,
footer nav {
  padding: 20px 40px;
}

h1,
h2,
h3 {
  font-family: "baskerville", sans-serif;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #262626;
  font-family: "Karla", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
}

.breadcrumbs {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: left;
}

.breadcrumbs a {
  text-transform: none;
  font-size: smaller;
}

.copyright {
  text-align: center;
}

.copyright p {
  padding: 7px 0;
  background-color: #ffffff;
  margin: 0;
  box-sizing: none;
}
